<div class="row">
	<h1>FRIENDs CHAT APPLICATION</h1>
</div>



<% if session[:current_user].nil? %>     
<!--    <li><a href="/login">Login</a></li>
  <li><a href="/signup">Signup</a></li>
-->
<% else%>
	<div class="row" style="position: relative;bottom: 45px">
		
	    <div style="float: right;" class="dropdown">
	        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%=session[:current_user]["user_name"]%>   
	          <span class="caret"></span>
	      	</button>
	          <ul class="dropdown-menu">
	            <%= link_to "Logout", logout_path,method: :delete,class: 'nav-link' %>
	            
	          </ul>
	 	 </div>
	 </div>
<%end%>


